In [61]:
import numpy as np
import pandas as pd
data = pd.read_csv("input_datasets/modif_csv_cleaned.csv")

# data['entrees_fr'] = data['entrees_fr'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
# data['entrees_usa'] = data['entrees_usa'].replace('[$\s]', '', regex=True).replace('-', np.nan, regex=True).astype(float)
df = pd.DataFrame(data)

data.fillna(-1, inplace=True)
display(data.head())

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,-1,2009-07-03,2009-07-01,87,2 403 734,1,animation,etats-unis,Tous publics,PG,-1,-1,41 690 382,783,20th century fox
1,l'ile de nim,"gerard butler, jodie foster",37000000.0,-1,2008-04-09,2008-04-04,95,243 392,0,film familial,etats-unis,Tous publics,PG,-1,-1,13 210 579,399,snd
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,-1,2009-01-07,2008-11-21,120,755 835,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69 637 740,455,snd
3,#jesuislà,alain chabat,11378260.0,-1,2020-02-05,-1,98,112 363,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1,387,gaumont
4,#pire soirée,"scarlett johansson, demi moore",20000000.0,-1,2017-08-02,2017-06-16,101,66 666,0,comédie,etats-unis,Tous publics,R,-1,-1,8 004 283,145,sony pictures

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547 entries, 0 to 4546
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        4547 non-null   object
 1   acteurs      4547 non-null   object
 2   budget       4547 non-null   float64
 3   compositeur  4547 non-null   object
 4   semaine_fr   4547 non-null   object
 5   semaine_usa  4547 non-null   object
 6   duree        4547 non-null   int64
 7   entrees_fr   4547 non-null   object
 8   franchise    4547 non-null   int64
 9   genres       4547 non-null   object
 10  pays         4547 non-null   object
 11  pegi_fr      4547 non-null   object
 12  pegi_usa     4547 non-null   object
 13  producteur   4547 non-null   object
 14  realisateur  4547 non-null   object
 15  entrees_usa  4547 non-null   object
 16  salles_fr    4547 non-null   object
 17  studio       4547 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 639.5+ KB

In [63]:
data['entrees_fr'] = data['entrees_fr'].astype(str).str.replace(' ', '')
data['entrees_usa'] = data['entrees_usa'].astype(str).str.replace(' ', '')
data['salles_fr'] = data['salles_fr'].astype(str).str.replace(' ', '')
data['salles_fr'] = data['salles_fr'].astype(str).str.replace('-', '-1')
data['salles_fr'] = data['salles_fr'].astype(str).str.replace('-11', '-1')

data['entrees_fr'] = data['entrees_fr'].tolist()
data['franchise'] = data['franchise'].tolist()
data['entrees_usa'] = data['entrees_usa'].tolist()
data['salles_fr'] = data['salles_fr'].tolist()
data['budget'] = data['budget'].tolist()
data['duree'] = data['duree'].tolist()

display(data)

,titre,acteurs,budget,compositeur,semaine_fr,semaine_usa,duree,entrees_fr,franchise,genres,pays,pegi_fr,pegi_usa,producteur,realisateur,entrees_usa,salles_fr,studio
0,l'age de glace 3 - le temps des dinosaures,"vincent cassel, gérard lanvin, simon pegg, qu...",90000000.0,-1,2009-07-03,2009-07-01,87,2403734,1,animation,etats-unis,Tous publics,PG,-1,-1,41690382,783,20th century fox
1,l'ile de nim,"gerard butler, jodie foster",37000000.0,-1,2008-04-09,2008-04-04,95,243392,0,film familial,etats-unis,Tous publics,PG,-1,-1,13210579,399,snd
2,twilight - chapitre 1 : fascination,"robert pattinson, kristen stewart",37000000.0,-1,2009-01-07,2008-11-21,120,755835,1,fantasy,etats-unis,Tous publics,PG,-1,-1,69637740,455,snd
3,#jesuislà,alain chabat,11378260.0,-1,2020-02-05,-1,98,112363,0,comédie,france,Tous publics,-1,-1,eric lartigau,-1,387,gaumont
4,#pire soirée,"scarlett johansson, demi moore",20000000.0,-1,2017-08-02,2017-06-16,101,66666,0,comédie,etats-unis,Tous publics,R,-1,-1,8004283,145,sony pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4542,à l'intérieur (2023),willem dafoe,-1.0,-1,2023-11-01,2023-03-17,105,2654,0,drame,grèce,Tous publics,R,-1,-1,510110,-1,-
4543,à la belle étoile,pascal legitimus,-1.0,-1,2023-02-22,-1,110,67974,0,comédie dramatique,france,Tous publics,-1,-1,-1,-1,225,bac films
4544,à la poursuite de demain,george clooney,190000000.0,-1,2015-05-20,2015-05-22,130,418815,0,science fiction,etats-unis,Tous publics,PG,-1,brad bird,33028165,551,walt disney pictures
4545,à plein temps,laure calamy,2700000.0,-1,2022-03-16,2023-02-03,85,100254,0,thriller,france,Tous publics,-1,-1,-1,2423,199,haut et court
4546,ça chapitre 2,"jessica chastain, james mcavoy",79000000.0,-1,2019-09-11,2019-09-06,165,635024,1,horreur,etats-unis,Moins de 12 ans,R,-1,-1,91062152,600,warner bros.

In [64]:
display(data["salles_fr"].value_counts())

salles_fr
-1     757
200     26
250     20
300     20
301     20
      ...
955      1
433      1
613      1
806      1
717      1
Name: count, Length: 815, dtype: int64

In [65]:
data.to_csv("datasets/pour_antoine.csv")

In [66]:
import mysql.connector
import pandas as pd

# Informations de connexion à la base de données
host = "casq.mysql.database.azure.com"
user = "tenshi"
password = "Simplon59"
database = "db_movies"

# Connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Création du curseur
cursor = conn.cursor()

# Création de la table
create_table_query = """
CREATE TABLE IF NOT EXISTS films (
    id INT AUTO_INCREMENT PRIMARY KEY,
    titre VARCHAR(255),
    acteurs VARCHAR(255),
    budget INT,
    compositeur VARCHAR(255),
    semaine_fr VARCHAR(255),
    semaine_usa VARCHAR(255),
    duree INT,
    entrees_fr INT,
    franchise INT,
    genres VARCHAR(255),
    pays VARCHAR(255),
    pegi_fr VARCHAR(50),
    pegi_usa VARCHAR(50),
    producteur VARCHAR(255),
    realisateur VARCHAR(255),
    entrees_usa INT,
    salles_fr INT,
    studio VARCHAR(255)
)
"""

cursor.execute(create_table_query)
conn.commit()



# Requête SQL pour l'insertion des données
insert_query = """
INSERT INTO films (titre, acteurs, budget, compositeur, semaine_fr, semaine_usa, duree, entrees_fr, franchise, genres, pays, pegi_fr, pegi_usa, producteur, realisateur, entrees_usa, salles_fr, studio)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

data_dict = data.to_dict(orient='records')

# Exécution de la requête d'insertion pour chaque ligne de données
for row in data_dict:
    cursor.execute(insert_query, tuple(row.values()))

conn.commit()

# Fermeture du curseur et de la connexion à la base de données
cursor.close()
conn.close()

print("Données insérées avec succès dans la base de données.")

InterfaceError: Failed executing the operation; Python type numpy.int64 cannot be converted